@font-face {
    font-family: digital;
    src: url('../assets/digital.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-main: #84CFE4;
    --background-color-secondary: #F2F3F5;
    --background-color-terciary: #C8CAC7;
    --color-shadow: #72B6C3;
    --color-main: #4E5462;
    --color-secondary: #6B7C8C;
    --color-terciary: #EF4136;
    --color-text-main: #EDF2F4;
    --color-text-secondary: #000814;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: roboto, sans-serif;
    background-color: var(--background-color-main);
    color: var(--color-text-secondary);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: var(--color-terciary);
    color: var(--color-text-main);
    box-shadow: 0 -10px 15px 10px var(--color-terciary);
}

.title {
    font-size: 2em;
    font-weight: 800;
}

.content {
    flex: 1;
}

.body-calculator {
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px var(--color-shadow);
    width: 24em;
    height: 30em;
    margin: 0 auto;
    background-color: var(--background-color-secondary);
    overflow: hidden;
}

.top {
    background-color: var(--color-main);
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: var(--background-color-terciary);
    width: 86%;
    height: 65%;
    border: solid #5e6b7b 6px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1em;
}

.values {
    font-family: digital, sans-serif;
    font-size: 2.5em;
    font-weight: 700;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    margin: 2em 0 1em 0.9em;
}

.button {
    height: 3.3em;
    width: 4.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

.primary {
    background-color: var(--color-secondary);
    color: var(--color-text-main);
}

.secondary {
    background-color: var(--color-main);
    color: var(--color-text-main);
}

.clear {
    background-color: var(--color-terciary);
    color: var(--color-text-main);
}

.button:hover {
    border: solid var(--color-text-secondary);
}