* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-main: #84CFE4;
    --background-color-secondary: #F2F3F5;
    --background-color-terciary: #C8CAC7;
    --color-shadow: #72B6C3;
    --color-main: #4E5462;
    --color-secondary: #6B7C8C;
    --color-terciary: #EF4136;
    --color-text-main: #EDF2F4;
    --color-text-secondary: #000814;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: roboto, sans-serif;
    background-color: var(--background-color-main);
    color: var(--color-text-secondary);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: var(--color-terciary);
    color: var(--color-text-main);
    box-shadow: 0 -10px 15px 10px var(--color-terciary);
}

.title {
    font-size: 2em;
    font-weight: 800;
}

.content {
    flex: 1;
}

.body-calculator {
    border: solid black;
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px var(--color-shadow);
    width: 25%;
    height: 75%;
    margin: 0 auto;
    background-color: var(--background-color-secondary);
}